* {
	margin: 0;
	padding: 0;
}

a:hover {
	cursor: pointer;
}
body {
	background: #ecf0f1;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.row {
	width: 100%;
}

.col-sm,.col-md,.col-lg {
	display: inline-block;
	overflow: hidden;
}

.col-sm {
	width: 25%;
}

.col-md {
	width: 33%;
}

.col-lg {
	width: 50%;
}

@media screen and (max-width: 500px) {
	.col-sm,.col-md,.col-lg {
		width: 100%;
		margin-bottom: 0.3em;
	}
}

#logo {
	text-align: center;
	position: relative;
	top: 25%;
	font-family: serif;
}

.red {
	color: #e74c3c;
}

#logo,#searchForm {
	margin: 0 auto;
}

#searchForm {
	width: 100%;
}

@media screen and (min-width: 960px) {
	#searchForm {
		width: 50%;
	}
}

.form-div {
	margin: 0.5em;
}

#searchField {
	width: 100%;
	font-weight: bold;
	border: 1px solid #bdc3c7;
}

#searchField:FOCUS {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(52, 152, 219, 1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(52, 152, 219, 1);
	box-shadow: 0px 0px 15px 0px rgba(52, 152, 219, 1);
	border: 1px solid rgba(52, 152, 219, 1);
}

#searchField, #searchButton, #oauthLink {
	padding: 0.8em;
	display: block;
}

#searchButton, #oauthLink {
	width: 10em;
	margin: 0 auto;
	font-weight: bolder;
	letter-spacing: 1px;
	font-family: sans-serif;
}
#oauthLink {
	text-align: center;
}
.thumb-img {
	margin: 0 0.2em 0 0.2em;
	float: left;
}
.video-title {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0.5em 0 0 0;
	max-width: 50%;
	overflow: hidden;
}
.clear {
	clear: both;
}
#videoPlayer {
	margin: 0 auto;
	display: block;
}